ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

ul li {
    position: relative;
    max-width: 100%;
    text-align: left;
    padding: 12px;
    border-radius: calc(var(--buttonRadius) - 5px);
    /* transition: background-color .25s; */
    display: flex;
    align-items: center;
    gap: 15px;
}

ul li:hover {
    background-color: var(--grey);
}

ul li img {
    border-radius: calc(var(--buttonRadius) - 15px);
    width: 90px;
    height: 90px;
    cursor: pointer;
}

ul li picture {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

ul li picture::after {
    content: "";
    opacity: .6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

ul li picture:hover::after {
    background: url("../../assets/icons/play_arrow_48dp_FILL1_wght400_GRAD0_opsz48.svg") no-repeat center center;
}

ul li.currentlyPlaing picture::after,
ul li.currentlyPlaing picture:hover::after {
    background: url("../../assets/icons/pause_48dp_FILL1_wght400_GRAD0_opsz48.svg") no-repeat center center !important;
}

ul li span {
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: hidden;
    white-space: nowrap;
}

ul li span p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;

}

ul li button {
    margin-left: auto !important;
}

/* ul li button.hi::before {
    content: "";
    position: absolute;
    width: 2%;
    height: 20%;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 15px;
    background-color: var(--blue);
    pointer-events: none;
    z-index: -1;
    border-radius: var(--buttonRadius);
    transition-duration: 0.25s;
    transition-property: top, right, width, height, border-radius;
} */

/* ul li button.lol::before {
    right: 0 !important;
    top: 50%;
    width: 100% !important;
    height: 100% !important;
    transform: translate(-0%, -50%) !important;
} */

.greyFontCol {
    color: var(--ultraLightGrey);
    transition: color .25s;
}

.greyFontCol a:hover {
    color: var(--color);
}

.semiBold {
    font-weight: 700;
}

.isAdded {
    background-color: var(--blue) !important;
}

ul li.currentlyPlaing {
    outline: 2px solid var(--blue);
}

#playList ul li.currentlyPlaing {
    outline: 0px solid transparent !important;
}

@media screen and (max-width: 450px) {
    ul li img {
        border-radius: calc(var(--buttonRadius) - 25px);
        width: 60px;
        height: 60px;
    }

    ul li {
        gap: 10px;
    }

    ul li span {
        gap: 1px
    }

    #playList ul li span a {
        pointer-events: none;
    }
}

@media (prefers-color-scheme: light) {
    ul li:hover {
        background-color: var(--lightGrey);
    }
}

@media (pointer:coarse) {
    ul li:hover {
        background-color: transparent;
    }
}
