#playList form {
    margin: 13px auto;
    white-space: nowrap;
    display: flex;
}

#playList form input {
    flex: 1;
}

#playList form button {
    text-wrap: nowrap;
    background-color: var(--midGrey);
}

#playList {
    visibility: hidden;
}

#trackList:has(li)~#playList {
    visibility: visible !important;
}

@media screen and (max-width: 750px) {
    #playList {
        --margin: 1em;
        position: fixed;
        overflow: hidden;
        visibility: visible !important;
        transition: all 0.25s;
        background-color: rgba(23, 26, 23, 0.98);
        backdrop-filter: blur(2px);
        border-radius: var(--buttonRadius);
        bottom: calc(var(--margin)/2);
        left: var(--margin);
        right: var(--margin);
        max-height: fit-content;
        z-index: 99;
        padding: 1em 0 0 0;

        -webkit-box-shadow: 0px 0px 70px 0px rgba(255, 255, 255, 0.1);
        -moz-box-shadow: 0px 0px 70px 0px rgba(255, 255, 255, 0.1);
        box-shadow: 0px 0px 70px 0px rgba(255, 255, 255, 0.1);
    }

    @media (prefers-color-scheme: light) {
        #playList {
            -webkit-box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, .4);
            -moz-box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, .4);
            box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, .4);

        }
    }

    @supports (backdrop-filter: blur()) {
        #playList {
            background-color: rgba(23, 26, 23, 0.8);
            backdrop-filter: blur(30px);
        }
    }

    #playList.extend {
        max-height: calc(100vh - 1em);
        height: fit-content;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll !important;
        background-color: var(--background);
    }

    #playList.empty {
        transition: none;
        padding: 1em 0;
    }

    #playList ul {
        scroll-snap-type: x mandatory;
        width: 100%;
        overflow-x: scroll;
        scrollbar-width: none;
        transition: all 0.25s;
        /* max-height: 0; */
        flex-direction: row;
    }

    #playList.extend ul {
        flex-direction: column;
        max-height: 300vh;
    }

    #playList ul li {
        min-width: 100%;
    }

    #playList ul li:hover {
        background-color: transparent;
    }

    #playList.extend ul li:hover {
        background-color: var(--grey);
    }

    #playList ul li,
    #playList form {
        scroll-snap-align: center;
    }

    #playList ul:has(li) {
        margin-top: 10px;
    }

    #playList form {
        margin: 0 1em;
        max-width: 100%;
    }

    #playList form input {
        max-width: 100%;
        flex: 1;
    }
}

@media screen and (max-width: 450px) {
    #playList {
        --margin: .5em;
        bottom: 1em;
    }
}

@media (prefers-color-scheme: light) {

    #playList form input,
    #playList form div {
        background-color: var(--lightGrey);
    }

    @supports (backdrop-filter: blur()) {
        #playList {
            background-color: rgb(237 237 237 / 80%);
        }
    }

    #playList.extend,
    #playList {
        background-color: rgb(237 237 237 / 95%);
    }

    @media (pointer:coarse) {
        #playList.extend ul li:hover {
            background-color: transparent;
        }
    }
}