@import url("./assets/fonts/Archivo_Complete/css/archivo.css");
@import url("./assets/fonts/ClashGrotesk_Complete/css/clash-grotesk.css");

:root {
  /* dark mode colors */
  --background: #171a17;
  --color: #ffffff;
  --grey: #242424;
  --midGrey: #303030;
  --lightGrey: #7a7a7a;
  --ultraLightGrey: #a6a7af;
  --blueHover: #2e58fe;
  --blue: #2842ed;
  --lightBlue: #4257d1;
  /* --blueHover: #646cff;
  --blue: #535bf2; */

  --errorBg: #ff4756;
  --errorBorder: #f32c3c;

  --successBg: #32ac59;
  --successBorder: #5af32c;

  --borderWidth: 2px;
  --buttonRadius: 40px;


  font-family: 'Archivo-Variable', system-ui, -apple-system, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 500;
  font-size: 1.1em;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-X: hidden;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

a:hover {
  color: var(--blueHover);
}

nav p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-family: 'ClashGrotesk-Variable', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 1.3em;
  line-height: 1;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

button,
input {
  border-radius: var(--buttonRadius);
  border: var(--borderWidth) solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--grey);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--blueHover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --color: #1a1a1a;
    --blue: #747bff;

    --grey: #7a7a7a;
    --midGrey: #a3a3a3;
    --lightGrey: #bebdbd;
    --ultraLightGrey: #595b66;
  }

  a:hover {
    color: var(--blue);
  }

  button {
    background-color: var(--lightGrey);
  }
}

.hide {
  display: none !important;
  visibility: hidden;
}

.show {
  display: inline-block !important;
  visibility: visible;
}

.message {
  padding: 0.6em 1.2em;
  border: var(--borderWidth) solid;
  border-radius: var(--buttonRadius);
  max-width: 700px;
  margin: 0 auto;
}

.message.error {
  background-color: var(--errorBg);
  border-color: var(--errorBorder);
  font-weight: 500;
  display: inline-block;
}

.message.success {
  background-color: var(--successBg);
  border-color: var(--successBorder);
}

@media screen and (max-width: 450px) {
  :root {
    font-size: 1em;
  }
}